.container {
  background: #ECEFF1;
  color: #546E7A;
  border: 1px solid #CFD8DC;
  border-radius: 5px;
}

.row {
  padding: 2rem;
}

h1 {
  background: #78909C;
  color: white;
  padding: 2rem;
}

h2 {
  padding: 0 2rem;
  margin: 0;
}

.columns {
  background: white;
  border-radius: 5px;
  border: 1px solid #CFD8DC;
  padding: 1rem;
}

p {
  background: #ECEFF1;
  padding: 3px;
  border: 1px solid #CFD8DC;
  border-radius: 5px;
}