@import url('https://fonts.googleapis.com/css?family=Roboto');

.container {
  color: #616161;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-family: 'Roboto', sans-serif;
  background: #eee;
}

svg {
  float: right;
}

.row {
  padding: 2rem;
}

h1 {
  background: #ec407a;
  color: white;
  padding: 2rem;
}

h2 {
  color: #ec407a;
  padding: 0 2rem;
  margin: 0;
}

h3 {
  color: #ec407a;
}

.columns {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  background: #fff;
}

.code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  background: #616161;
  color: whitesmoke;
  padding: 3px;
  border-radius: 5px;
}