<div class="container">
  <h1>Liste des composants</h1>
  <h2>Color Select</h2>
  <div class="row">
    <agesse-color-select class="three columns"
      [colors]="colors"
      #colorSelect></agesse-color-select>

    <div class="nine columns result">
      <h3>Utilisation</h3>
      <p>
        &lt;agesse-color-select [colors]="INPUT" #OUTPUT&gt;&lt;/agesse-color-select&gt;
      </p>
      <h3>Resultat</h3>
      <span>OUTPUT.selectedColor.label</span>
      <p>{{colorSelect.selectedColor.label}}</p>
      <span>OUTPUT.selectedColor.css</span>
      <p>{{colorSelect.selectedColor.css}}</p>
    </div>
  </div>
</div>